@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500&display=swap');

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 18px;
  color: var(--primary-text-color);
  background-color: var(--first-bg-color);
}
