<header class="header">
  <div class="header__wrapper">
    <a href="" class="header__logo">
      <img src="/src/images/logo.svg" alt="Logo" />
    </a>
    <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item"><a href="" class="menu__link">Home</a></li>
          <li class="menu__item"><a href="" class="menu__link">About</a></li>
          <li class="menu__item"><a href="" class="menu__link">Features</a></li>
          <li class="menu__item">
            <a href="" class="menu__link">How it works</a>
          </li>
        </ul>
      </nav>
      <div class="header__auth">
        <button type="button" class="header__button button button_white">
          Sign In
        </button>
        <button type="button" class="header__button button">Get Started</button>
      </div>
    </div>
  </div>
</header>
