.button {
  display: inline-block;
  padding: 21px 25px;
  // min-width: 142px;
  height: 64px;
  background-color: #23b123;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  font-family: 'Lato';
  color: #ffffff;
  font-weight: 500;
  line-height: 1.22;
  &:hover {
    background-color: #299429;
  }
  @media screen and (max-width: 992px) {
    padding: 15px 20px;
  }

  &_white {
    padding: 21px 44px;
    background-color: transparent;
    border: 1px solid #ffffff;
    &:hover {
      background-color: #ffffff;
      color: #000;
    }
    @media screen and (max-width: 992px) {
      padding: 14px 20px;
    }
  }
}
